<!DOCTYPE html>
{%load static%}
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">
   <!-- site metas -->
   <title>Eflyer</title>
   <meta name="keywords" content="">
   <meta name="description" content="">
   <meta name="author" content="">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

   <!-- bootstrap css -->
   <link rel="stylesheet" type="text/css" href="{% static 'app/css/bootstrap.min.css'%}">
   <!-- style css -->
   <link rel="stylesheet" type="text/css" href="{% static 'app/css/style.css'%}">
   <!-- Responsive-->
   <link rel="stylesheet" href="{% static 'app/css/responsive.css'%}">
   <!-- fevicon -->
   <link rel="icon" href="{% static 'app/images/fevicon.png'%}" type="image/gif" />
   <!-- Scrollbar Custom CSS -->
   <link rel="stylesheet" href="{% static 'app/css/jquery.mCustomScrollbar.min.css'%}">
   <!-- Tweaks for older IEs-->
   <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
   <!-- fonts -->
   <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
   <!-- font awesome -->
   <link rel="stylesheet" type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--  -->
   <!-- owl stylesheets -->
   <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext"
      rel="stylesheet">
   <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css'%}">
   <link rel="stylesoeet" href="{% static 'app/css/owl.theme.default.min.css'%}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">


   <style>
      .img-fluid {

         height: 500px;

      }

   </style>
</head>

<body>
   <!-- banner bg main start -->
   <div class="banner_bg_main">
      <!-- header top section start -->
      <div class="container">
         <div class="header_section_top">
            <div class="row">
               <div class="col-sm-12">
                  <div class="custom_menu">
                     <ul>
                        <li><a href="#">Best Sellers</a></li>
                        <li><a href="#">Gift Ideas</a></li>
                        <li><a href="#">New Releases</a></li>
                        <li><a href="#">Today's Deals</a></li>
                        <li><a href="#">Customer Service</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- header top section start -->
      <!-- logo section start -->
      <div class="logo_section">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <div class="logo"><a href="/"><img src="{% static 'app/images/logo.png'%}"></a></div>
               </div>
            </div>
         </div>
      </div>
      <!-- logo section end -->
      <!-- header section start -->
      <!-- <span class="toggle_icon" onclick="openNav()"><img src="{% static 'app/images/toggle-icon.png'%}"></span> -->

      <div class="header_section">
         <div class="container">
            <div class="containt_main">
               <div id="mySidenav" class="sidenav">
                  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                  <a href="/">Home</a>
                  <a href="{% url 'get_wishlist' %}">Wishlist</a>


               </div>
               <!-- <span class="toggle_icon" id="mySideopen" onclick="openNav()"><img src="{% static 'app/images/toggle-icon.png'%}"></span> -->
               <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                     data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Price Filter
                  </button>

                  <form action="{% url 'price_filter'%}" method="POST">
                     {%csrf_token%}
                     <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">



                        <input type="text" class="form-control" placeholder="Enter Price" name="price">


                        <button class="btn btn-dark mt-2">Check</button>

                     </div>
                  </form>
               </div>

               <div class="main">
                  <!-- Another variation with a button -->
                  <form action="{% url 'search_item'  %}" method="post">
                     {%csrf_token%}
                     <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search the product" name="search">
                        <div class="input-group-append">
                           <button class="btn btn-primary" type="submit"
                              style="background-color: #f26522; border-color:#f26522 ">
                              <i class="fa fa-search"></i>
                           </button>
                        </div>
                     </div>
                  </form>
               </div>
               <div class="header_box">

                  <div class="login_menu">
                     <ul>
                        <li>


                           <a href="{% url 'cart' %}">
                              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                              <span class="padding_10">Cart <span
                                    class="badge badge-pill badge-danger notify">{{cart}}</span>

                              </span></a>

                           {% if uid %}


                           <div class="dropdown">
                              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                                 data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                 style="background-color: transparent; border:none">
                                 <i class="fa fa-user" aria-hidden="true"></i>{{user.name}}

                              </button>
                              <ul class="dropdown-menu">
                                 <li><a class="dropdown-item text-dark" href="{% url 'profilepage' uid %}">Profile</a>
                                 </li>
                                 <li><a class="dropdown-item text-dark" href="{% url 'get_wishlist' %}">Wishlist
                                       ({{wishlist}})</a></li>
                                 <li><a class="dropdown-item text-dark" href="{% url 'orderpage' %}">Orders</a></li>
                                 <li><a class="dropdown-item text-dark" href="{% url 'logout' %}">Logout</a></li>
                              </ul>
                           </div>
                           <!-- <li><a href="#">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">{{name}}</span></a>
                           </li> -->
                           {%else%}
                        <li><a href="/account/register">
                              <i class="fa fa-user" aria-hidden="true"></i>
                              <span class="padding_10">Sign Up</span></a>
                        </li>
                        {%endif%}

                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- header section end -->
      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="my_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                           <div class="buynow_bt"><a href="#">Buy Now</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                           <div class="buynow_bt"><a href="#">Buy Now</a></div>
                        </div>
                     </div>
                  </div>
                  <div class="carousel-item">
                     <div class="row">
                        <div class="col-sm-12">
                           <h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
                           <div class="buynow_bt"><a href="#">Buy Now</a></div>
                        </div>
                     </div>
                  </div>
               </div>
               <a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
                  <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
                  <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- banner section end -->
   </div>


   <div class="row">
      <div class="col-md-12">
         <div class="container mt-1 pt-0" id="product">
            {% if messages %}
            {% for message in messages %}

            <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}" role="alert">

               <h4 class="text-dark">{{message}}</h4>
               <button type="button" class="btn-close " style="margin-right: 50%;" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}

         </div>
      </div>
   </div>



   <div class="container">

      <div class="row">

         {% for product in product%}
         <!-- /media/product/formal-shirts.jpeg -->
         <div class="col-md-4">

            <div class="box_main mt-5 pt-0">
               <h4 class="shirt_text">{{product.product_name}}</h4>

               <p class="price_text">Price <span style="color: #262626;">Rs {{product.price}}</span></p>
               <div class="tshirt_img"><img src="/media/{{product.image}}" class="img-fluid"></div>
               <div class="btn_main">
                  <div class="buy_bt"><a href="{% url 'add_to_wishlist' product.uid %}" onclick="showMessage()">Add
                        Wishlist</a></div>
                  <!-- <div class="seemore_bt"><a href="/product/{{product.uid}}/{{product.slug}}">See More</a></div> -->
                  <div class="seemore_bt"><a href="{% url 'get_product' product.uid product.slug  %}">See More</a></div>

               </div>
            </div>
         </div>
         {%endfor%}
      </div>



   </div>




   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="footer_logo"><a href="/"><img src="{% static 'app/images/footer-logo.png'%}"></a></div>
         <div class="input_bt">
            <input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
            <span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
         </div>
         <div class="footer_menu">
            <ul>
               <li><a href="#">Best Sellers</a></li>
               <li><a href="#">Gift Ideas</a></li>
               <li><a href="#">New Releases</a></li>
               <li><a href="#">Today's Deals</a></li>
               <li><a href="#">Customer Service</a></li>
            </ul>
         </div>
         <div class="location_main">Help Line Number : <a href="#">+1 1800 1200 1200</a></div>
      </div>
   </div>
   <!-- footer section end -->
   

   <!-- Javascript files-->

   <!-- copyright section end -->
   <script>

      function get_product_slug(slug) {
         console.log('hii')
         console.log(slug)
      }


   </script>

   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>

   <script src="{% static 'app/js/jquery.min.js'%}"></script>
   <script src="{% static 'app/js/popper.min.js'%}"></script>
   <script src="{% static 'app/js/bootstrap.bundle.min.js'%}"></script>
   <script src="{% static 'app/js/jquery-3.0.0.min.js'%}"></script>
   <script src="{% static 'app/js/plugin.js'%}"></script>
   <!-- sidebar -->
   <script src="{% static 'app/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
   <script src="{% static 'app/js/custom.js'%}"></script>
   <script>


      function openNav() {
         document.getElementById("mySidenav").style.width = "250px";
      }

      function closeNav() {
         document.getElementById("mySidenav").style.width = "0";
      }
   </script>
</body>

</html>